@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Montserrat", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Lavishly Yours", cursive; */
/* Globel CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  -webkit-text-fill-color: inherit !important;
}

.Logo {
  font-family: "Lavishly Yours", cursive;
  user-select: none;
}
#aboutH,
#skillH,
#projectH,
#blogH,
#contactH {
  font-family: "Poppins", sans-serif;
  border: 2px slolid white;

  transition-duration: 1s;
}
.secHead {
  transform-origin: left;
}
/*  */

.byCoffee,
.hireMe {
  font-family: "Montserrat", sans-serif;
}

.radio-service {
  opacity: 0% !important ;
}
